{# templates/Advert/test.html.twig #}


<h3>Formulaire d'annonce</h3>

<div class="well">
  {{ form_start(form, {method: 'POST', action: path('newmessage', {'postId': post.postId})}) }}
  {{ form_end(form) }}
</div>